In [ ]:
# komentarz

# if
"""
to jest wielolinijkowy komentarz zapisany formalnie jako string 

"""
wielkosc = 5
wielkosc += 1
print(wielkosc)

6

In [ ]:
#wciecie to cztery spacje
if wielkosc >6:
    print("ale duze")
elif wielkosc < 3:
    print("malutkie")
    print('franek')
else:
    print("w sam raz")

w sam raz

In [ ]:
# to jest lista 
studenci = ["Ania", "Zosia", "Kasia", "Franek"]

print(studenci)

['Ania', 'Zosia', 'Kasia', 'Franek']

In [ ]:
# ta instukcja njapierw bierze pierwszy element listy(tablicy) - Ania, a nastepnie drugi element imienia Ania 
studenci[0][1]

'n'

In [ ]:
for student in studenci:
    print("student ma na imie:", student)
    
for student in studenci:
    print(student)
    if student[0]=="A":
        print("student na poczatku alfabetu")

for numer in range(10):
    print(numer)

for numer in range(1, 10):
    print(numer)

for numer in range(1, 10, 2):
    print(numer)

student ma na imie: Ania
student ma na imie: Zosia
student ma na imie: Kasia
student ma na imie: Franek
Ania
student na poczatku alfabetu
Zosia
Kasia
Franek
0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
1
3
5
7
9

In [ ]:
for numer, student in enumerate(studenci):
    print("student {} ma numer {}".format(student,numer))
    next(enumerate(studenci))

student Ania ma numer 0
student Zosia ma numer 1
student Kasia ma numer 2
student Franek ma numer 3

In [ ]:
oceny = [2,2,5,3]

for numer, student in enumerate(studenci):
    print("student {} ma numer {} i ocenę {}".format(student,numer,oceny[numer]))

print("--"*20)    
for number, (student, ocena) in enumerate(zip(studenci,oceny)):
    print("student {} ma numer {} i ocenę {}".format(student,number,ocena))

student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3
----------------------------------------
student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3

In [ ]:
trzy_elementy= [1,2,3]
pierwszy,drugi,trzeci= trzy_elementy

In [ ]:
n = 1

while(n < 10):
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9

In [ ]:
# slowko def definiuje nam funkcje 
def dodaj_dwa(liczba):
    return liczba+2

def dodaj_trzy(liczba):
    return liczba+3

def dodaj_dwie_liczby(liczba1,liczba2):
    return liczba1+liczba2

def bez_return():
  print("nie mam nic madrego do zwrocenia")



dodaj_cztery = lambda liczba:liczba+4

In [ ]:
wynik = dodaj_dwa(18)
print(wynik)
wynik = bez_return()
print(wynik)

20
nie mam nic madrego do zwrocenia
None

In [ ]:
funkcje=[dodaj_dwa,dodaj_trzy,dodaj_cztery]

jakis_nr= 10

for funkcja in funkcje:
    print(funkcja(jakis_nr))

12
13
14

In [ ]:
studenci[0] # pierwszy element listy
studenci[1:] # wszystkie elementy listy oprocz pierwszego 
studenci[:-1] # wszystkie elementy listy oprocz ostatniego

['Ania', 'Zosia', 'Kasia']

In [3]:
#### challenge 0.1

zajecia = ["wf", "informatyka", "relax", "mispy", "piateczek"]

dnityg= ["Pon", "Wto", "Sro", "Czwar", "Pio"]

# wyprintuj zajecia od srody do piatku
for dzien, zajecie in zip(dnityg, zajecia):
  if dzien != "Pon" and dzien != "Wto":
    print(zajecie) 
print(" "*20)
print("--"*20)   
print(" "*20) 
# wyprintuj oprocz srody
for dzien, zajecie in zip(dnityg,zajecia):
  if dzien != "Sro":
    print(zajecie)

relax
mispy
piateczek

----------------------------------------

wf
informatyka
mispy
piateczek

In [91]:
#### challenge 0.2

zajecia = [["wf"],
           ["informatyka", "nauka czytania"],
           ["relax", "jedzenie"],
           ["mispy","mispy w domu"],
           ["piateczek", "praca domowa z mispow", "Ilovemispy", "mispy w czasie snu"]
          ]

dnityg= ["Pon","Wto","Sro","Czwar","Pio"]

# zdefiniuj funkcje ktora poda ile jest zajec danego dnia
def ile_zaj():
  rozklad_dnia = []
  rozklad_dnia.insert(0, len(zajecia[0]))
  rozklad_dnia.insert(1, len(zajecia[1]))
  rozklad_dnia.insert(2, len(zajecia[2]))
  rozklad_dnia.insert(3, len(zajecia[3]))
  rozklad_dnia.insert(4, len(zajecia[4]))
  for dzien, liczba_zajec in zip(dnityg, rozklad_dnia):
    print("W ten dzień, czyli {} mam taką liczbę zajęć: {}".format(dzien, liczba_zajec))
    
ile_zaj()
# odczytujemy element po elementcie listy 1 przy użyciu pętli for
print(" "*20)
print("--"*20)
print(" "*20)
for x in zajecia:
  print(x)
# lista_zajec_z_dnia -> ile ich jest

# posortuj dni po najbardziej zajetych
print(" "*20)
print("--"*20)
print(" "*20)

W ten dzień, czyli Pon mam taką liczbę zajęć: 1
W ten dzień, czyli Wto mam taką liczbę zajęć: 2
W ten dzień, czyli Sro mam taką liczbę zajęć: 2
W ten dzień, czyli Czwar mam taką liczbę zajęć: 2
W ten dzień, czyli Pio mam taką liczbę zajęć: 4

----------------------------------------

['wf']
['informatyka', 'nauka czytania']
['relax', 'jedzenie']
['mispy', 'mispy w domu']
['piateczek', 'praca domowa z mispow', 'Ilovemispy', 'mispy w czasie snu']

----------------------------------------

In [92]:
#### challenge 0.3

# napisz program ktory zdajdzie dzien z najwieksza iloscia mispow
def najwiecej_misp(zajecia):
  ilosc = 0
  for x in zajecia:
      if "misp" in x:
        ilosc += 1
        
  return ilosc

polaczenie = zip(zajecia, dnityg)

najwiecej = max(zajecia, key = najwiecej_misp)
max(polaczenie, key = lambda para:najwiecej_misp(para[0]))
print(dnityg[zajecia.index(najwiecej)])

Pio

In [ ]:
len(zajecia)

zajecia[4][1]

"Ma" in "MojaMaMa"

liczby=["22","11","33","100"]
liczby_i_nazwy= [("22","dwadziescia dwa"),
                 ("11","jedenascie"),
        ("33","trzydziesci trzy"),("100","sto")]
sorted(liczby)

sorted(liczby, key=int)

liczby_kolejnosc= enumerate(liczby)

def czy_jest_jeden(liczba):

    if "1" in liczba:
        return 1
    else:
        return 0
def na_liczbe(krotka):
         return int(krotka[0])
def na_liczbe_index(krotka):
         return int(krotka[1])    
sorted(liczby, key=czy_jest_jeden)
         
sorted(liczby_i_nazwy,key=na_liczbe)

sorted(liczby_kolejnosc,key=na_liczbe_index)

[(1, '11'), (0, '22'), (2, '33'), (3, '100')]

In [ ]:
 next(enumerate(studenci))

(0, 'Ania')